/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--calc:before {
  width: 120px;
  height: 84px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--fail:before {
  width: 80px;
  height: 74px;
  background: url(../img/sprite.png) -130px 0px no-repeat;
}

.ic--header1:before {
  width: 25px;
  height: 18px;
  background: url(../img/sprite.png) 0px -150px no-repeat;
}

.ic--header2:before {
  width: 21px;
  height: 26px;
  background: url(../img/sprite.png) -156px -94px no-repeat;
}

.ic--phone:before {
  width: 18px;
  height: 18px;
  background: url(../img/sprite.png) -35px -150px no-repeat;
}

.ic--play:before {
  width: 20px;
  height: 24px;
  background: url(../img/sprite.png) -187px -94px no-repeat;
}

.ic--price1:before {
  width: 45px;
  height: 35px;
  background: url(../img/sprite.png) -101px -94px no-repeat;
}

.ic--price2:before {
  width: 45px;
  height: 46px;
  background: url(../img/sprite.png) 0px -94px no-repeat;
}

.ic--price3:before {
  width: 36px;
  height: 46px;
  background: url(../img/sprite.png) -55px -94px no-repeat;
}

.ic {
  vertical-align: top;
}

a {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* modal */
.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.heading {
  color: #212121;
  font: 700 24px/36px "Circe", sans-serif;
  text-transform: uppercase;
}

.heading--fff {
  color: #fff;
}

@media only screen and (min-width: 760px) {
  .heading {
    font: 700 30px/45px "Circe", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .heading {
    font: 700 36px/48px "Circe", sans-serif;
  }
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.header {
  padding: 25px 0 85px;
  background: url(../img/headerbg.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.header__image img {
  max-width: 100%;
  height: auto;
}

.header__point {
  margin-bottom: 35px;
}

.header__point--icon {
  height: 40px;
  width: 40px;
  background-color: #36539b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 36px;
  text-align: center;
}

.header__point--text {
  color: #212121;
  font: 300 18px/21px "Circe", sans-serif;
}

.header__text {
  text-align: center;
  color: #212121;
  font: 400 18px/27px "Circe", sans-serif;
}

.header__text--link {
  color: #212121;
  font: 700 18px/27px "Circe", sans-serif;
}

.header__text--link:hover, .header__text--link:focus {
  text-decoration: none;
  color: #00c170;
}

.logo {
  margin-bottom: 20px;
}

.logo__link {
  display: inline-block;
}

.logo__text {
  color: #212121;
  font: 300 14px/21px "Circe", sans-serif;
  text-align: center;
}

.contact {
  text-align: center;
}

.contact__box {
  margin-bottom: 10px;
}

.contact__phone {
  display: inline-block;
}

.contact__phone .ic {
  margin-right: 10px;
  line-height: 30px;
}

.contact__number {
  display: inline-block;
  color: #212121;
  font: 300 29px/30px "Circe", sans-serif;
}

.contact__btn {
  border: 2px solid #00c170;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font: 400 16px/18px "Circe", sans-serif;
  color: #212121;
  padding: 8px 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contact__btn:hover, .contact__btn:focus {
  color: #fff;
  background-color: #00c170;
}

.title {
  color: #212121;
  font: 700 30px/45px "Circe", sans-serif;
  text-transform: uppercase;
  margin: 25px 0 20px;
  text-align: center;
}

@media only screen and (min-width: 760px) {
  .header {
    min-height: 100vh;
  }
  .header__image {
    position: relative;
  }
  .header__image img {
    position: absolute;
    top: -55px;
    right: 0;
    max-width: none;
  }
  .header__point {
    margin-bottom: 20px;
  }
  .header__point--icon {
    height: 56px;
    width: 56px;
    line-height: 52px;
  }
  .header__info {
    padding-top: 40px;
  }
  .header__text {
    text-align: left;
  }
  .logo {
    margin-bottom: 0;
  }
  .logo__text {
    text-align: left;
  }
  .contact {
    text-align: right;
  }
  .title {
    font: 700 36px/45px "Circe", sans-serif;
    margin: 65px 0 50px;
  }
}

@media only screen and (min-width: 992px) {
  .header__point {
    margin-bottom: 0;
  }
  .header__point--text {
    position: relative;
    left: -15px;
  }
  .header__info {
    padding-top: 45px;
  }
  .header__text {
    font: 400 20px/30px "Circe", sans-serif;
  }
  .header__text--link {
    font: 700 20px/30px "Circe", sans-serif;
  }
  .title {
    font: 700 45px/55px "Circe", sans-serif;
  }
}

/* ---------------------------------------- */
/* I M P L E M E N T    S T Y L E           */
/* ---------------------------------------- */
.implement {
  overflow: hidden;
  margin-bottom: 80px;
}

.implement__container {
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
  -webkit-box-shadow: 10px 17.3px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 17.3px 50px rgba(0, 0, 0, 0.1);
  background: url(../img/implementbg.png) no-repeat;
  background-size: cover;
  background-position: center top;
}

.implement__container:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0px 0px 0px 15px #3a96d6;
          box-shadow: inset 0px 0px 0px 15px #3a96d6;
}

.implement__heading {
  color: #212121;
  font: 400 22px/33px "Circe", sans-serif;
  margin-bottom: 15px;
}

.implement__heading--big {
  display: block;
  font: 700 22px/33px "Circe", sans-serif;
  text-transform: uppercase;
}

.implement__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.implement__item:hover .implement__hover, .implement__item:focus .implement__hover {
  bottom: 0;
}

.implement__hover {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 83, 155, 0.9);
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.implement__image img {
  margin: 0 auto;
}

.implement__text {
  margin: 0 auto;
  font: 400 14px/16px "Circe", sans-serif;
  color: #fff;
}

@media only screen and (min-width: 760px) {
  .implement__container:before {
    -webkit-box-shadow: inset 0px 0px 0px 15px #3a96d6;
            box-shadow: inset 0px 0px 0px 15px #3a96d6;
  }
  .implement__heading {
    font: 400 24px/36px "Circe", sans-serif;
    margin-bottom: 25px;
  }
  .implement__heading--big {
    font: 700 24px/36px "Circe", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .implement__icon {
    position: relative;
  }
  .implement__icon img {
    position: absolute;
    top: -20px;
    left: -90px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (min-width: 1200px) {
  .implement__icon img {
    left: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media only screen and (min-width: 1600px) {
  .implement__icon img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

/* ---------------------------------------- */
/* I N T R O    S T Y L E                   */
/* ---------------------------------------- */
.intro {
  padding: 60px 0 200px;
  background: url(../img/introbg.png) no-repeat;
  background-size: cover;
  background-position: center top;
}

.intro__heading {
  margin-bottom: 140px;
}

.intro__btn {
  height: 88px;
  width: 88px;
  background-color: #FFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
}

.intro__btn .ic {
  margin-left: 7px;
  margin-top: -3px;
}

@media only screen and (min-width: 760px) {
  .intro {
    padding: 150px 0 240px;
  }
  .intro__heading {
    margin-bottom: 150px;
  }
}

/* ---------------------------------------- */
/* P R I C E    S T Y L E                   */
/* ---------------------------------------- */
.price {
  padding: 80px 0;
  overflow: hidden;
}

.price__heading {
  margin-bottom: 20px;
}

.price__image {
  text-align: center;
  margin-bottom: 20px;
}

.price__image img {
  display: inline-block;
  max-width: 100%;
}

.price__item {
  margin-bottom: 30px;
}

.price__text {
  font: 400 16px/24px "Circe", sans-serif;
  color: #212121;
}

.price__icon {
  text-align: center;
}

@media only screen and (min-width: 760px) {
  .price {
    margin-bottom: 90px;
  }
  .price__box {
    padding-top: 55px;
  }
  .price__image {
    position: relative;
  }
  .price__image img {
    max-width: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  .price__item {
    margin-bottom: 45px;
  }
  .price__text {
    font: 400 18px/27px "Circe", sans-serif;
  }
}

/* ---------------------------------------- */
/* P R O D U C T    S T Y L E               */
/* ---------------------------------------- */
.product {
  overflow: hidden;
}

.product__heading {
  margin-bottom: 50px;
}

.product__item {
  position: relative;
  padding: 70px 15px 35px;
  margin: 0 -15px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 1px 0 #f1f1f1;
          box-shadow: inset 0 0 1px 0 #f1f1f1;
  overflow: hidden;
}

.product__garant {
  display: block;
  position: absolute;
  left: -104px;
  top: -90px;
  height: 200px;
  width: 228px;
  color: #fff;
  background-color: #36539b;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  padding-bottom: 20px;
  z-index: 25;
}

.product__text {
  font: 400 14px/21px "Circe", sans-serif;
}

.product__image {
  text-align: center;
}

.product__image img {
  display: inline-block;
}

.product__box {
  text-align: center;
}

.product__cost {
  color: #36539b;
  font: 700 18px/20px "Circe", sans-serif;
  margin: 30px 0 10px;
  text-align: center;
}

.product__name {
  display: inline-block;
  position: relative;
  color: #212121;
  font: 700 24px/30px "Circe", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.product__name:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: -5px;
  height: 1px;
  width: 100px;
  background-color: #f1f1f1;
}

.product__weight {
  color: #212121;
  font: 300 18px/20px "Circe", sans-serif;
  margin-bottom: 20px;
}

.product__btn {
  color: #fff;
  font: 700 21px/22px "Circe", sans-serif;
  text-align: center;
  background-color: #00c170;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 12px;
  width: 100%;
  border: 0;
  -webkit-box-shadow: 0px 3px 0px #25A05A;
          box-shadow: 0px 3px 0px #25A05A;
}

.product__btn:hover, .product__btn:focus {
  outline: none;
  background-color: #00d77d;
}

.product__btn:active {
  -webkit-box-shadow: 0px 1px 0px #25A05A;
          box-shadow: 0px 1px 0px #25A05A;
  position: relative;
  top: 2px;
  outline: none;
}

@media only screen and (min-width: 760px) {
  .product {
    padding-bottom: 50px;
    overflow: visible;
  }
  .product__item {
    position: relative;
    margin: 0;
    padding-bottom: 80px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 15;
  }
  .product__item:hover, .product__item:focus {
    -webkit-box-shadow: inset 0px 0px 0px 2px #36539b;
            box-shadow: inset 0px 0px 0px 2px #36539b;
    padding: 120px 15px 130px;
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    z-index: 20;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .product__cost {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .product__cost {
    margin-top: 20px;
  }
}

/* ---------------------------------------- */
/* C O S T    S T Y L E                     */
/* ---------------------------------------- */
.cost {
  padding: 170px 0 80px;
  background: url(../img/costbg.png) no-repeat;
  background-size: cover;
  background-position: 100% center;
}

.cost__heading {
  margin-bottom: 20px;
}

.cost__text {
  color: #fff;
  font: 400 20px/30px "Circe", sans-serif;
  margin-bottom: 30px;
}

.cost__btn {
  position: relative;
  background-color: white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.2);
  font: 700 18px/30px "Circe", sans-serif;
  color: #212121;
  padding: 16px 12px;
  border: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
}

.cost__btn:hover, .cost__btn:focus {
  outline: none;
  -webkit-box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.2);
}

.cost__btn:hover .ic, .cost__btn:focus .ic {
  bottom: -35px;
  right: -35px;
}

.cost__btn .ic {
  position: absolute;
  bottom: -40px;
  right: -40px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

@media only screen and (min-width: 760px) {
  .cost {
    padding: 140px 0 110px;
    background-position: 66% center;
  }
  .cost__heading {
    margin-bottom: 30px;
  }
  .cost__text {
    margin-bottom: 35px;
  }
  .cost__btn {
    padding: 16px 80px 16px 25px;
  }
}

@media only screen and (min-width: 992px) {
  .cost {
    padding: 175px 0 150px;
    background-position: center;
  }
  .cost__heading {
    margin-bottom: 35px;
  }
}

/* ---------------------------------------- */
/* F A I L    S T Y L E                     */
/* ---------------------------------------- */
.fail {
  padding: 70px 0 100px;
}

.fail__heading {
  margin-bottom: 45px;
}

.fail__title {
  font: 700 20px/30px "Circe", sans-serif;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.fail__text {
  font: 400 18px/27px "Circe", sans-serif;
  color: #212121;
  margin-bottom: 30px;
}

.fail__btn {
  position: relative;
  background-color: #00c170;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  font: 700 18px/30px "Circe", sans-serif;
  padding: 16px 12px;
  border: 0;
  overflow: hidden;
}

.fail__btn:hover, .fail__btn:focus {
  outline: none;
}

.fail__btn:hover .ic, .fail__btn:focus .ic {
  bottom: -10px;
  right: -30px;
}

.fail__btn .ic {
  position: absolute;
  bottom: -15px;
  right: -35px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

@media only screen and (min-width: 760px) {
  .fail {
    padding: 90px 0 200px;
  }
  .fail__title {
    font: 700 24px/36px "Circe", sans-serif;
  }
  .fail__btn {
    padding: 16px 67px 16px 25px;
  }
  .fail__btn:hover .ic, .fail__btn:focus .ic {
    right: -15px;
  }
  .fail__btn .ic {
    right: -20px;
  }
}
