- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        },
        modal: {
          test1: {
            heading: "Осталось времени:",
            icon: "ic ic--scheme",
            time: {
              hour: "04",
              minute: "59",
              delimeter: ":"
            },
            tabs: {
              items: [
                {
                  heading: "Чертеж для откатных ворот бесплатно?",
                  descr: "Вы получите Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nam.",
                  btns: {
                    next: {
                      text: "Указать размер и Lorem ipsum dolor.",
                      icon: "ic ic--fail"
                    }
                  }
                },
                {
                  heading: "Какой проем ворот (длина)?",
                  icon: "ic ic--length",
                  slides: {
                    minPosition: "2.5",
                    maxPostion: "8.5",
                    value: "4",
                    step: "0.5",
                    name: "range1"
                  },
                  btns: {
                    prev: {
                      class: "test__btn--prev",
                      text: "Назад"
                    },
                    next: {
                      class: "test__btn--next",
                      text: "Далее"
                    }
                  }
                },
                {
                  heading: "Какая высота от земли?",
                  icon: "ic ic--height",
                  slides: {
                    minPosition: "0.5",
                    maxPostion: "4.5",
                    value: "1.5",
                    step: "0.5",
                    name: "range2"
                  },
                  btns: {
                    prev: {
                      class: "test__btn--prev",
                      text: "Назад"
                    },
                    next: {
                      class: "test__btn--next",
                      text: "Далее"
                    }
                  }
                },
                {
                  heading: "Чем зашивать?",
                  radiobtns: [
                    {
                      img: {
                        src: "img/item-1.jpg",
                        alt: "Профнастил"
                      },
                      name: "period[]",
                      value: "Профнастил"
                    },
                    {
                      img: {
                        src: "img/item-2.jpg",
                        alt: "Дерево"
                      },
                      name: "period[]",
                      value: "Дерево"
                    },
                    {
                      img: {
                        src: "img/item-3.jpg",
                        alt: "Ковка"
                      },
                      name: "period[]",
                      value: "Ковка"
                    },
                  ],
                  btns: {
                    prev: {
                      class: "test__btn--prev",
                      text: "Назад"
                    },
                    next: {
                      class: "test__btn--next",
                      text: "Далее"
                    }
                  }
                },
                {
                  heading: "Ваш мобилкен",
                  descr: "Оставьте свой телефон и мы будем вам звонить в 1:23 без вашего согласия Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nam.",
                  formGroup: {
                    select: {
                      name: "method"
                    },
                    inputs: [
                      {
                        name: "phone",
                        placeholder: "Телефон"
                      }
                    ],
                    submit: {
                      text: "Получить чертеж",
                      icon: "ic ic--phone"
                    }
                  }
                },
              ],
            }
          }
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        header: {
          logo: {
            src: "img/logo/logo.png",
            alt: "Лого",
            text: "Комплектующие для самостоятельного изготовления откатных ворот"
          },
          contact: {
            phone: {
              href: "tel\:0983452277",
              text: "(098) 345-22-77"
            },
            btn: "Заказать обратный звонок"
          },
          title: "Фурнитура для откатных ворот по ценам завода производителя",
          content: [
            {
              text: "Бесплатная доставка"
            },
            {
              text: "Гарантия на все детали 5 лет"
            }
          ],
          text: "Мы знаем что у вас есть много вопросов. Смело задавайте их в онлайн чате. Если Вам удобнее воспринимать информацию на слух обращайтесь по телефону <a class=\"header__text--link\" href=\"tel\:0983452277\">0983452277</a>. Никаких продаж не будет, только техническая консультация."
        },
        implement: {
          heading: "<span class=\"implement__heading--big\">Фурнитура для откатных ворот —</span> это комплект деталей которые необходимы для самостоятельного изготовления ворот. В такой комплект обычно входят:",
          content: [
            {
              img: {
                src: "img/implement1.png",
                alt: "Фурнитура"
              },  
              text: "2 роликовые опоры"
            },
            {
              img: {
                src: "img/implement2.png",
                alt: "Фурнитура"
              },
              text: "Заглушки"
            },
            {
              img: {
                src: "img/implement3.png",
                alt: "Фурнитура"
              },  
              text: "Нижний улавливатель"
            },
            {
              img: {
                src: "img/implement4.png",
                alt: "Фурнитура"
              },  
              text: "Ролик концевой"
            },
            {
              img: {
                src: "img/implement5.png",
                alt: "Фурнитура"
              },  
              text: "Направляющий рельс"
            },
            {
              img: {
                src: "img/implement6.png",
                alt: "Фурнитура"
              },  
              text: "Верхний улавливатель"
            }
          ]
        },
        intro: {
          heading: "Узнайте за 3 минуты, как выбрать комплектующие к воротам, которые прослужат минимум 10 лет"
        },
        price: {
          heading: "Цены завода изготовителя",
          content: [
            {
              text: "Начиная с 2005 года мы продал и более 40 000 комплектов фурнитуры"
            },
            {
              text: "Протестировали 27 комплектов от различных производителей, и выбрали 3 лучших модели по соотношению цена/качество"
            },
            {
              text: "Являемся единственными официальными представителями заводов, это позволит вам получить комплектующие по самой низкой цене"
            }
          ]
        },
        product: {
          heading: "Товары",
          content: [
            {
              img: {
                src: "img/product1.jpg",
                alt: "Товар"
              },
              cost: "2190 грн",
              name: "Roling Expert",
              weight: "Вес ворот - 400 кг",
              btn: "Подробнее",
              text: "Гарантия<br> 3 года"
            },
            {
              img: {
                src: "img/product2.jpg",
                alt: "Товар"
              },
              cost: "2590 грн",
              name: "Світ воріт<br>STANDART 500",
              weight: "Вес ворот - 500 кг",
              btn: "Подробнее",
              text: "Гарантия<br> 5 лет"
            },
            {
              img: {
                src: "img/product3.jpg",
                alt: "Товар"
              },
              cost: "3790 грн",
              name: "Світ воріт<br>LUX 500",
              weight: "Вес ворот - 400 кг",
              btn: "Подробнее",
              text: "Гарантия<br> 5 лет"
            }
          ]
        },
        cost: {
          heading: "Рассчитайте точную стоимость изготовления ворот своими руками",
          text: "Укажите размеры ворот и получите точную смету по материалам, чтобы купить только то, что нужно. Вы узнаете, какие материалы понадобятся, их количество и стоимость.",
          btn: "Получить смету и рекомендации по материалам"
        },
        fail: {
          heading: "8 обидных ошибок при выборе фурнитуры",
          title: "За 12 лет мы сформировали 8 параметров качественного комплекта фурнитуры",
          text: "Они позволят воротам служить более 10 лет без поломок! Работая с заводом производителем на эксклюзивных условиях мы требуем выполнения этих параметров. Поэтому Вы получаете 5-ти летнюю гарантию на все комплектующие",
          btn: "Узнайте 8 параметров качественной фурнитуры",
          img: {
            src: "img/man.png",
            alt: "Мужик"
          },
          content: [
            {
              img: {
                src: "img/fail1.png",
                alt: "Ошибочка"
              },
              text: "Толщина стали направляющей 3,6 мм, а не 3 мм"
            },
            {
              img: {
                src: "img/fail2.png",
                alt: "Ошибочка"
              },
              text: "Идеально ровная направляющая"
            },
            {
              img: {
                src: "img/fail3.png",
                alt: "Ошибочка"
              },
              text: "Толщина стали на улавливателях 3 - 4 мм  а не 2 мм"
            },
            {
              img: {
                src: "img/fail4.png",
                alt: "Ошибочка"
              },
              text: "Резиновые, а не пластиковые верхние ролики"
            },
            {
              img: {
                src: "img/fail5.png",
                alt: "Ошибочка"
              },
              text: "Надежно усиленные 301-е подшипники"
            },
            {
              img: {
                src: "img/fail6.png",
                alt: "Ошибочка"
              },
              text: "Подшипники с резинометаллическим пыльником"
            },
            {
              img: {
                src: "img/fail7.png",
                alt: "Ошибочка"
              },
              text: "Подшипники с низкотемпературной смазкой"
            }
          ]
        },
        delivery: {
          heading: "Полная бесплатная доставка",
          text1: "Бесплатно доставляем комплектующие в течении 2-3 дней по всей Украине, службами Интайм и Деливери",
          text2: "Сначала вы самостоятельно осмотрите и проверите все детали комплекта. Только потом вы вносите оплату - цену товара.",
          text3: "Для жителей Киева доступен самовывоз. Забрать фурнитуру можно из нашего склада по адресу бул. Вернадского 36в",
          subtext: "А можно отправить по «Новой почте»?",
          help: "Мы с удовольствием отправим Вам фурнитуру этой службой доставки. Единственным ограничением от самой новой почты является габариты посылки. возможна отправка деталей не более 5 м. в длину. Направляющий рельс имеет длину 6 м. Поэтому Вы можете воспользоваться услугами Интайм и Деливери.",
          img: {
            src: "img/deliverycar.png",
            alt: "Машина"
          }
        },
        self: {
          heading: "Хотите сделать откатные ворота своими руками и сэкономить до 5000 грн?",
          text: "Оставьте телефон и мы вышлем Вам пошаговую инструкцию <span class=\"self__text--span\">(28 страниц)</span> для самостоятельного изготовления и установки ворот. Никаких звонков! Инструкция придет в удобный Вам мессенджер: Viber, Telegram, Facebook Messenger или WhatsApp.",
          form: {
            btn: "Получить доступ к инструкции <span class=\"form__btn--span\">| PDF, 1 мб</span>",
            confident: "Мы гарантируем что не будем Вам звонить. Нажимая на кнопку, вы соглашаетесь с <a class=\"form__confident--link\" href=\"#\">Политикой конфиденциальности</a>"
          },
          img: {
            src: "img/self.png",
            alt: "Брошюра"
          }
        },
        result: {
          heading: "Довольными остались более 40 000 клиентов!",
          subheading: "На нашем YouTube канале вы можете найти более 100 видео отзывов, вот некоторые из них:",
          slides: [
            {
              video: "img/slide1.png",
              text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim."
            },
            {
              video: "img/slide1.png",
              text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim."
            },
            {
              video: "img/slide1.png",
              text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim."
            }
          ]
        }
      }, //- index
    }
