section.cost
  .container
    .row
      .col-md-8.col-lg-12.hidden-sm-down
      .col-24.col-md-16.col-lg-12
        .cost__box
          h2.heading.heading--fff.cost__heading!=content.index.cost.heading
          .cost__text!=content.index.cost.text
          button.button.cost__btn!=content.index.cost.btn
            i.ic.ic--calc