section.intro
  .container
    .row.justify-content-center
      .col-24.col-md-20.col-lg-22.text-center
        h2.heading.heading--fff.intro__heading!=content.index.intro.heading
      .col-24.text-center
        button.intro__btn.cbutton.cbutton--effect-jagoda.cbutton--click(data-toggle="modal", data-target="#video__modal")
          i.ic.ic--play
