section.self
  .container
    .row
      .col-24.col-md-16.col-lg-14
        .self__box
          h2.heading.heading--fff.self__heading!=content.index.self.heading
          .self__text!=content.index.self.text
      .col-md-8.col-lg-10.hidden-sm-down
        .self__image
          img(src!=content.index.self.img.src, alt!=content.index.self.img.alt)
      .col-24.col-lg-18      
        form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
          .row
            .col-24.col-md-8.col-lg-9.form__group
              input.form-control.form__input.form__phone(aria-invalid='false', placeholder="Телефон", name='phone', type='tel', data-error='Введите телефон', required)
            .col-24.col-md-16.col-lg-15
              button.button.form__btn.self__btn(name='form', value='динамика цен', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")!=content.index.self.form.btn
                i.ic.ic--apple
            .col-24
              .form__confident!=content.index.self.form.confident
