header.header.header--success
  .container.success__container
    .row.justify-content-between
      .col-24.col-md-14.col-lg-10.col-xl-8
        .logo.header__logo
          .row
            .col-24.col-sm-9.col-md-8.col-lg-7.text-center
              a.logo__link
                img.img-fluid.logo__img(src!=content.index.header.logo.src, alt!=content.index.header.logo.alt)
            .col-24.col-sm-15.col-md-16.col-lg-17
              .logo__text!=content.index.header.logo.text
      .col-24.col-md-10.col-lg-7.col-xl-6
        .contact
          .contact__box
            a.contact__phone(href!=content.index.header.contact.phone.href)  
              i.ic.ic--phone
              .contact__number!=content.index.header.contact.phone.text
    .row.success__row               
      .col-24.align-self-center
        .test
          .row.justify-content-center.align-items-stretch
            .col-24
              form.contactForm(method='POST', action='mail/mail.php')
                .tabs.test__tabs
                  .tabs__item.tabs__item--active
                    h2.testo__heading Пройдите тест за 1 минуту и узнайте стоимость самостоятельного изготовления и установки откатных ворот
                    .slides
                      .row
                        .col-24.col-lg-12
                          .testo__video
                            iframe(src="https://www.youtube.com/embed/yp1C3ThPktI" frameborder="0" allowfullscreen)
                        .col-24.col-lg-12
                          .testo__title Выберете параметры Ваших ворот и получите: 
                          ul.testo__list
                            li.testo__it Смету на изготовление откатных ворот; 
                              i.ic.ic__testo1
                            li.testo__it Пошаговую инструкцию по их установке;
                              i.ic.ic__testo2  
                            li.testo__it Сертификат на покупку фурнитуры;
                              i.ic.ic__testo3  
                          button.button.test__btn.test__btn--next.testo__start(href='#', data-tabs-control='next')
                            .test__btn--text Пройти тест и получить материалы
                            i.ic.ic--fail
                  .tabs__item
                    h2.testo__heading Какой проем ворот (длина)?
                    .progressbar.testo__prog
                      .progressbar__status.testo__progressbar
                        span.progressbar__value 20%
                    .slides.testo__slides
                      .row
                        .col-24.col-md-12.flex-md-last
                          .testo__image
                            img.img-fluid(src="img/testow.png", alt="Длина")
                        .col-24.col-md-12  
                          p.slides__info.slides__info--dark.info
                            | Перемещайте ползунок, чтобы выбрать подходящую Вам длину. Наиболее распространенный проем ворот - 4 метра.
                          .slides__item.testo__elem
                            input#range1.slides__control(type='text', name='range1')
                          .button-group.text-center
                            button.button.test__btn.test__btn--prev(href='#', data-tabs-control='prev')
                              .test__btn--text Назад
                            button.button.test__btn.test__btn--next(href='#', data-tabs-control='next')
                              .test__btn--text Далее      
                  .tabs__item
                    h2.testo__heading Какой высота от земли
                    .progressbar.testo__prog
                      .progressbar__status.testo__progressbar
                        span.progressbar__value 40%
                    .slides.testo__slides
                      .row
                        .col-24.col-md-12.flex-md-last
                          .testo__image
                            img.img-fluid(src="img/testol.png", alt="Длина")
                        .col-24.col-md-12  
                          p.slides__info.slides__info--dark.info
                            | Перемещайте ползунок, чтобы выбрать подходящую Вам высоту. Наиболее распространенная высота ворот  от 1,5 до 2 метров. 
                          .slides__item.testo__elem
                            input#range2.slides__control(type='text', name='range2')
                          .button-group.text-center
                            button.button.test__btn.test__btn--prev(href='#', data-tabs-control='prev')
                              .test__btn--text Назад
                            button.button.test__btn.test__btn--next(href='#', data-tabs-control='next')
                              .test__btn--text Далее      
                  .tabs__item
                    h2.testo__heading Планируете ли вы ставить автоматику?
                    .progressbar.testo__prog
                      .progressbar__status.testo__progressbar
                        span.progressbar__value 60%
                    .slides.testo__slides    
                      .row.justify-content-center
                        .col-24.col-md-18.col-lg-14
                          .row
                            .col-12.text-center
                              .radiobtns.testo__radio
                                input#radio1.radiobtns__control(type='radio', name='plan[]', value='Да, собираюсь ставить', checked='')
                                label.radiobtns__label.testo__label(for='radio1')
                                  .testo__check Да, собираюсь ставить
                            .col-12.text-center
                              .radiobtns.testo__radio
                                input#radio2.radiobtns__control(type='radio', name='plan[]', value='Пока не планировал')
                                label.radiobtns__label.testo__label(for='radio2')
                                  .testo__check Пока не планировал
                            .button-group.text-center.testo__group
                              button.button.test__btn.test__btn--prev(href='#', data-tabs-control='prev')
                                .test__btn--text Назад
                              button.button.test__btn.test__btn--next(href='#', data-tabs-control='next')
                                .test__btn--text Далее
                  .tabs__item
                    h2.testo__heading Когда планируете делать ворота?
                    .progressbar.testo__prog
                      .progressbar__status.testo__progressbar
                        span.progressbar__value 80%
                    .slides.testo__slides    
                      .row.justify-content-center
                        .col-24.col-md-18.col-lg-14
                          .row
                            .col-12.text-center
                              .radiobtns.testo__radio
                                input#radio3.radiobtns__control(type='radio', name='when[]', value='Уже делаю', checked='')
                                label.radiobtns__label.testo__label(for='radio3')
                                  .testo__check Уже делаю
                            .col-12.text-center
                              .radiobtns.testo__radio
                                input#radio4.radiobtns__control(type='radio', name='when[]', value='Через неделю')
                                label.radiobtns__label.testo__label(for='radio4')
                                  .testo__check Через неделю
                            .col-12.text-center
                              .radiobtns.testo__radio
                                input#radio5.radiobtns__control(type='radio', name='when[]', value='Через месяц')
                                label.radiobtns__label.testo__label(for='radio5')
                                  .testo__check Через месяц
                            .col-12.text-center
                              .radiobtns.testo__radio
                                input#radio6.radiobtns__control(type='radio', name='when[]', value='Через 3 месяца')
                                label.radiobtns__label.testo__label(for='radio6')
                                  .testo__check Через 3 месяца            
                            .button-group.text-center.testo__group
                              button.button.test__btn.test__btn--prev(href='#', data-tabs-control='prev')
                                .test__btn--text Назад
                              button.button.test__btn.test__btn--next(href='#', data-tabs-control='next')
                                .test__btn--text Далее              
                  .tabs__item
                    h2.testo__heading куда высылать материалы?
                    .row
                      .col-24.col-lg-16
                        .row
                          .col-24
                            .testo__text
                              | Оставьте свой телефон и мы вышлем точную:
                            ul.testo__list
                              li.testo__it Смету на изготовление откатных ворот;
                                i.ic.ic__checkblue   
                              li.testo__it Пошаговую инструкцию по их установке;
                                i.ic.ic__checkblue 
                              li.testo__it Сертификат на покупку фурнитуры;  
                                i.ic.ic__checkblue 
                            .testo__subtext Никаких звонков! Материалы придут в удобный Вам мессенджер: Viber, Telegram, Facebook Messenger или WhatsApp.  
                          .form-group.form-group--relative.col-23.col-md-12.col-lg-8.offset-1
                            select.select.select--dropdown(name='method')
                              option(value='viber', data-content='<i class="ic ic--viber"></i><span class="select2__info">viber</span>') viber
                              option(value='whatsapp', data-content='<i class="ic ic--mail"></i><span class="select2__info">whatsapp</span>') whatsapp
                              option(value='messenger', data-content='<i class="ic ic--massenger"></i><span class="select2__info">messenger</span>') messenger
                              option(value='telegram', data-content='<i class="ic ic--telegram"></i><span class="select2__info">telegram</span>') telegram
                            input.form-control.form__input.form__phone.form__input--phone(name='phone', placeholder='+38 (___) ___-__-__', data-error='Введите телефон', required='')
                          .form-group.col-24.col-md-12.col-lg-15
                            button.test__btn.form__btn.test__btn--submit(type='submit', name='form', value='Отдельная страница теста')
                              | Получить смету инструкцию и сертификат
                              i.ic.ic--fail
                      .col-lg-8.hidden-md-down
                        .testo__image
                          img.img-fluid(src="img/blocker.png", alt="Каталог")          
