<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Спасибо, что обратились к нам!</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <!-- Meta SEO - Description, Keywords, Title-->
    <meta name="title" content="Спасибо, что обратились к нам!"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!-- Multilanguage localization-->
    <link rel="alternate" href="/" hreflang="x-default"/>
    <!-- Mobile viewport optimization-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
    <!--[if IEMobile]><meta http-equiv='cleartype' content='on' /><![endif]-->
    <!-- Replace favicon.ico and apple-touch-icon.png-->
    <link rel="shortcut icon" type="image/png" href="img/logo/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="img/logo/apple-touch-icon.png">
    <!-- Disables automatic  of possible phone numbers and address in Safari on iOS-->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <!-- Microformats Open Graph-->
    <meta property="og:title" content="Site name"/>
    <meta property="og:site_name" content="Site name"/>
    <meta property="og:description" content="Описание сайта"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:image" content="//img/logo/microformat.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:url" content="/"/>
    <!-- Microformats Twitter Cards-->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@flickr"/>
    <meta name="twitter:title" content="My Site"/>
    <meta name="twitter:description" content="My Site is cool"/>
    <meta name="twitter:image" content="//img/logo/microformat.png"/>
    <!-- build:css css/bundle.min.css-->
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="css/fonts.css">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Font-Awesome CSS-->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- ion Range slider CSS-->
    <link rel="stylesheet" href="css/ion.rangeSlider.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.skinHTML5.css">
    <!-- Countdown-->
    <link rel="stylesheet" href="css/flipclock.css">
    <!-- Btn Effect-->
    <link rel="stylesheet" href="css/component.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  </head>
  <body class="body">
    <header class="header success__header">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-24 col-md-14 col-lg-10 col-xl-8">
            <div class="logo header__logo">
              <div class="row">
                <div class="col-24 col-sm-9 col-md-8 col-lg-7 text-center"><a class="logo__link"><img class="img-fluid logo__img" src="img/logo/logo.png" alt="Лого"></a></div>
                <div class="col-24 col-sm-15 col-md-16 col-lg-17">
                  <div class="logo__text">Комплектующие для самостоятельного изготовления откатных ворот</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-24 col-md-10 col-lg-7 col-xl-6">
            <div class="contact">
              <div class="contact__box"><a class="contact__phone" href="tel:0983452277"> <i class="ic ic--phone"></i>
                  <div class="contact__number">(098) 345-22-77</div></a></div>
              <button class="button contact__btn text-center" type="button" data-toggle="modal" data-target="#call__modal">Заказать обратный звонок
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-24 col-lg-14 lg-offset-2">             
            <h1 class="success__title">Спасибо, что обратились к нам!</h1>
            <h2 class="success__subtitle">Скоро Вы получите материалы выбранным вами способом. Сейчас переходите на наш YouTube канал. Тут много полезных роликов и положительных видео-отзывов.</h2>
          </div>
          <div class="col-24 col-lg-8 text-center">
            <div class="g-ytsubscribe" data-channelid="UC2ZXh5irnwBGlEdeBOnhrtA" data-layout="full" data-count="default" data-onytevent="onYtEvent"></div>
            <script src="https://apis.google.com/js/platform.js"></script>
            <script>
              function onYtEvent(payload) {
              if (payload.eventType == 'subscribe') {
              // Add code to handle subscribe event.
              } else if (payload.eventType == 'unsubscribe') {
              // Add code to handle unsubscribe event.
              }
              if (window.console) { // for debugging only
              window.console.log('YT event: ', payload);
              }
              }
            </script>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
    </main>
    <!-- build:js js/bundle.min.js-->
    <!-- Tether JavaScript-->
    <script src="js/tether.js"></script>
    <!-- jQuery-->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="js/bootstrap.js"></script>
    <!-- Old browsers reject JavaScript-->
    <script src="js/jquery.reject.js"></script>
    <script id="main-example-template" type="text/template">
      <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
      </div>
      
    </script>
    <!-- Slick-Slider JavaScript-->
    <script src="js/slick.js"></script>
    <!-- MatchHeight JavaScript-->
    <script src="js/jquery.matchHeight.js"></script>
    <!-- ionRange Slider JavaScript-->
    <script src="js/ion.rangeSlider.js"></script>
    <!-- CountDown JavaScript-->
    <script src="js/flipclock.js">   </script>
    <!-- Select2 JavaScript-->
    <script src="js/select2.js">   </script>
    <!-- ContactForm JavaScript-->
    <script src="js/validator.js"> </script>
    <script src="js/contact_me.js">   </script>
    <!-- Custom JavaScript-->
    <script src="js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-104910086-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Yandex.Metrika counter-->
    <script type="text/javascript">
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter45685854 = new Ya.Metrika({
      id:45685854,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true,
      trackHash:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/45685854" style="position:absolute; left:-9999px;" alt=""></div>
    </noscript>
    <!-- /Yandex.Metrika counter-->
    <!-- BEGIN JIVOSITE CODE {literal}-->
    <script type="text/javascript">
      (function(){ var widget_id = 'c8sPwRzSMS';var d=document;var w=window;function l(){
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
    <!-- {/literal} END JIVOSITE CODE-->
    <!-- endbuild-->
  </body>
</html>