// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$apple-name: 'apple'
$apple-x: 0px
$apple-y: 160px
$apple-offset-x: 0px
$apple-offset-y: -160px
$apple-width: 91px
$apple-height: 90px
$apple-total-width: 358px
$apple-total-height: 250px
$apple-image: 'sprite.png'
$apple: (0px, 160px, 0px, -160px, 91px, 90px, 358px, 250px, 'sprite.png', 'apple', )
$calc-name: 'calc'
$calc-x: 238px
$calc-y: 0px
$calc-offset-x: -238px
$calc-offset-y: 0px
$calc-width: 120px
$calc-height: 84px
$calc-total-width: 358px
$calc-total-height: 250px
$calc-image: 'sprite.png'
$calc: (238px, 0px, -238px, 0px, 120px, 84px, 358px, 250px, 'sprite.png', 'calc', )
$check-name: 'check'
$check-x: 339px
$check-y: 94px
$check-offset-x: -339px
$check-offset-y: -94px
$check-width: 18px
$check-height: 18px
$check-total-width: 358px
$check-total-height: 250px
$check-image: 'sprite.png'
$check: (339px, 94px, -339px, -94px, 18px, 18px, 358px, 250px, 'sprite.png', 'check', )
$fail-name: 'fail'
$fail-x: 101px
$fail-y: 160px
$fail-offset-x: -101px
$fail-offset-y: -160px
$fail-width: 80px
$fail-height: 74px
$fail-total-width: 358px
$fail-total-height: 250px
$fail-image: 'sprite.png'
$fail: (101px, 160px, -101px, -160px, 80px, 74px, 358px, 250px, 'sprite.png', 'fail', )
$header1-name: 'header1'
$header1-x: 307px
$header1-y: 160px
$header1-offset-x: -307px
$header1-offset-y: -160px
$header1-width: 25px
$header1-height: 18px
$header1-total-width: 358px
$header1-total-height: 250px
$header1-image: 'sprite.png'
$header1: (307px, 160px, -307px, -160px, 25px, 18px, 358px, 250px, 'sprite.png', 'header1', )
$header2-name: 'header2'
$header2-x: 246px
$header2-y: 160px
$header2-offset-x: -246px
$header2-offset-y: -160px
$header2-width: 21px
$header2-height: 26px
$header2-total-width: 358px
$header2-total-height: 250px
$header2-image: 'sprite.png'
$header2: (246px, 160px, -246px, -160px, 21px, 26px, 358px, 250px, 'sprite.png', 'header2', )
$phone-name: 'phone'
$phone-x: 339px
$phone-y: 122px
$phone-offset-x: -339px
$phone-offset-y: -122px
$phone-width: 18px
$phone-height: 18px
$phone-total-width: 358px
$phone-total-height: 250px
$phone-image: 'sprite.png'
$phone: (339px, 122px, -339px, -122px, 18px, 18px, 358px, 250px, 'sprite.png', 'phone', )
$phonefff-name: 'phonefff'
$phonefff-x: 191px
$phonefff-y: 205px
$phonefff-offset-x: -191px
$phonefff-offset-y: -205px
$phonefff-width: 18px
$phonefff-height: 18px
$phonefff-total-width: 358px
$phonefff-total-height: 250px
$phonefff-image: 'sprite.png'
$phonefff: (191px, 205px, -191px, -205px, 18px, 18px, 358px, 250px, 'sprite.png', 'phonefff', )
$play-name: 'play'
$play-x: 277px
$play-y: 160px
$play-offset-x: -277px
$play-offset-y: -160px
$play-width: 20px
$play-height: 24px
$play-total-width: 358px
$play-total-height: 250px
$play-image: 'sprite.png'
$play: (277px, 160px, -277px, -160px, 20px, 24px, 358px, 250px, 'sprite.png', 'play', )
$price1-name: 'price1'
$price1-x: 191px
$price1-y: 160px
$price1-offset-x: -191px
$price1-offset-y: -160px
$price1-width: 45px
$price1-height: 35px
$price1-total-width: 358px
$price1-total-height: 250px
$price1-image: 'sprite.png'
$price1: (191px, 160px, -191px, -160px, 45px, 35px, 358px, 250px, 'sprite.png', 'price1', )
$price2-name: 'price2'
$price2-x: 238px
$price2-y: 94px
$price2-offset-x: -238px
$price2-offset-y: -94px
$price2-width: 45px
$price2-height: 46px
$price2-total-width: 358px
$price2-total-height: 250px
$price2-image: 'sprite.png'
$price2: (238px, 94px, -238px, -94px, 45px, 46px, 358px, 250px, 'sprite.png', 'price2', )
$price3-name: 'price3'
$price3-x: 293px
$price3-y: 94px
$price3-offset-x: -293px
$price3-offset-y: -94px
$price3-width: 36px
$price3-height: 46px
$price3-total-width: 358px
$price3-total-height: 250px
$price3-image: 'sprite.png'
$price3: (293px, 94px, -293px, -94px, 36px, 46px, 358px, 250px, 'sprite.png', 'price3', )
$question-name: 'question'
$question-x: 342px
$question-y: 160px
$question-offset-x: -342px
$question-offset-y: -160px
$question-width: 15px
$question-height: 15px
$question-total-width: 358px
$question-total-height: 250px
$question-image: 'sprite.png'
$question: (342px, 160px, -342px, -160px, 15px, 15px, 358px, 250px, 'sprite.png', 'question', )
$start-name: 'start'
$start-x: 0px
$start-y: 0px
$start-offset-x: 0px
$start-offset-y: 0px
$start-width: 228px
$start-height: 150px
$start-total-width: 358px
$start-total-height: 250px
$start-image: 'sprite.png'
$start: (0px, 0px, 0px, 0px, 228px, 150px, 358px, 250px, 'sprite.png', 'start', )
$spritesheet-width: 358px
$spritesheet-height: 250px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($apple, $calc, $check, $fail, $header1, $header2, $phone, $phonefff, $play, $price1, $price2, $price3, $question, $start, )
$spritesheet: (358px, 250px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
