// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$header1-name: 'header1'
$header1-x: 0px
$header1-y: 101px
$header1-offset-x: 0px
$header1-offset-y: -101px
$header1-width: 25px
$header1-height: 18px
$header1-total-width: 121px
$header1-total-height: 119px
$header1-image: 'sprite.png'
$header1: (0px, 101px, 0px, -101px, 25px, 18px, 121px, 119px, 'sprite.png', 'header1', )
$header2-name: 'header2'
$header2-x: 55px
$header2-y: 56px
$header2-offset-x: -55px
$header2-offset-y: -56px
$header2-width: 21px
$header2-height: 26px
$header2-total-width: 121px
$header2-total-height: 119px
$header2-image: 'sprite.png'
$header2: (55px, 56px, -55px, -56px, 21px, 26px, 121px, 119px, 'sprite.png', 'header2', )
$phone-name: 'phone'
$phone-x: 101px
$phone-y: 34px
$phone-offset-x: -101px
$phone-offset-y: -34px
$phone-width: 18px
$phone-height: 18px
$phone-total-width: 121px
$phone-total-height: 119px
$phone-image: 'sprite.png'
$phone: (101px, 34px, -101px, -34px, 18px, 18px, 121px, 119px, 'sprite.png', 'phone', )
$play-name: 'play'
$play-x: 101px
$play-y: 0px
$play-offset-x: -101px
$play-offset-y: 0px
$play-width: 20px
$play-height: 24px
$play-total-width: 121px
$play-total-height: 119px
$play-image: 'sprite.png'
$play: (101px, 0px, -101px, 0px, 20px, 24px, 121px, 119px, 'sprite.png', 'play', )
$price1-name: 'price1'
$price1-x: 0px
$price1-y: 56px
$price1-offset-x: 0px
$price1-offset-y: -56px
$price1-width: 45px
$price1-height: 35px
$price1-total-width: 121px
$price1-total-height: 119px
$price1-image: 'sprite.png'
$price1: (0px, 56px, 0px, -56px, 45px, 35px, 121px, 119px, 'sprite.png', 'price1', )
$price2-name: 'price2'
$price2-x: 0px
$price2-y: 0px
$price2-offset-x: 0px
$price2-offset-y: 0px
$price2-width: 45px
$price2-height: 46px
$price2-total-width: 121px
$price2-total-height: 119px
$price2-image: 'sprite.png'
$price2: (0px, 0px, 0px, 0px, 45px, 46px, 121px, 119px, 'sprite.png', 'price2', )
$price3-name: 'price3'
$price3-x: 55px
$price3-y: 0px
$price3-offset-x: -55px
$price3-offset-y: 0px
$price3-width: 36px
$price3-height: 46px
$price3-total-width: 121px
$price3-total-height: 119px
$price3-image: 'sprite.png'
$price3: (55px, 0px, -55px, 0px, 36px, 46px, 121px, 119px, 'sprite.png', 'price3', )
$spritesheet-width: 121px
$spritesheet-height: 119px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($header1, $header2, $phone, $play, $price1, $price2, $price3, )
$spritesheet: (121px, 119px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
