// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$apple-name: 'apple'
$apple-x: 0px
$apple-y: 160px
$apple-offset-x: 0px
$apple-offset-y: -160px
$apple-width: 91px
$apple-height: 90px
$apple-total-width: 358px
$apple-total-height: 318px
$apple-image: 'sprite.png'
$apple: (0px, 160px, 0px, -160px, 91px, 90px, 358px, 318px, 'sprite.png', 'apple', )
$calc-name: 'calc'
$calc-x: 238px
$calc-y: 0px
$calc-offset-x: -238px
$calc-offset-y: 0px
$calc-width: 120px
$calc-height: 84px
$calc-total-width: 358px
$calc-total-height: 318px
$calc-image: 'sprite.png'
$calc: (238px, 0px, -238px, 0px, 120px, 84px, 358px, 318px, 'sprite.png', 'calc', )
$check-name: 'check'
$check-x: 195px
$check-y: 260px
$check-offset-x: -195px
$check-offset-y: -260px
$check-width: 18px
$check-height: 18px
$check-total-width: 358px
$check-total-height: 318px
$check-image: 'sprite.png'
$check: (195px, 260px, -195px, -260px, 18px, 18px, 358px, 318px, 'sprite.png', 'check', )
$fail-name: 'fail'
$fail-x: 101px
$fail-y: 160px
$fail-offset-x: -101px
$fail-offset-y: -160px
$fail-width: 80px
$fail-height: 74px
$fail-total-width: 358px
$fail-total-height: 318px
$fail-image: 'sprite.png'
$fail: (101px, 160px, -101px, -160px, 80px, 74px, 358px, 318px, 'sprite.png', 'fail', )
$header1-name: 'header1'
$header1-x: 160px
$header1-y: 260px
$header1-offset-x: -160px
$header1-offset-y: -260px
$header1-width: 25px
$header1-height: 18px
$header1-total-width: 358px
$header1-total-height: 318px
$header1-image: 'sprite.png'
$header1: (160px, 260px, -160px, -260px, 25px, 18px, 358px, 318px, 'sprite.png', 'header1', )
$header2-name: 'header2'
$header2-x: 0px
$header2-y: 292px
$header2-offset-x: 0px
$header2-offset-y: -292px
$header2-width: 21px
$header2-height: 26px
$header2-total-width: 358px
$header2-total-height: 318px
$header2-image: 'sprite.png'
$header2: (0px, 292px, 0px, -292px, 21px, 26px, 358px, 318px, 'sprite.png', 'header2', )
$phone-name: 'phone'
$phone-x: 339px
$phone-y: 122px
$phone-offset-x: -339px
$phone-offset-y: -122px
$phone-width: 18px
$phone-height: 18px
$phone-total-width: 358px
$phone-total-height: 318px
$phone-image: 'sprite.png'
$phone: (339px, 122px, -339px, -122px, 18px, 18px, 358px, 318px, 'sprite.png', 'phone', )
$phonefff-name: 'phonefff'
$phonefff-x: 339px
$phonefff-y: 94px
$phonefff-offset-x: -339px
$phonefff-offset-y: -94px
$phonefff-width: 18px
$phonefff-height: 18px
$phonefff-total-width: 358px
$phonefff-total-height: 318px
$phonefff-image: 'sprite.png'
$phonefff: (339px, 94px, -339px, -94px, 18px, 18px, 358px, 318px, 'sprite.png', 'phonefff', )
$play-name: 'play'
$play-x: 31px
$play-y: 292px
$play-offset-x: -31px
$play-offset-y: -292px
$play-width: 20px
$play-height: 24px
$play-total-width: 358px
$play-total-height: 318px
$play-image: 'sprite.png'
$play: (31px, 292px, -31px, -292px, 20px, 24px, 358px, 318px, 'sprite.png', 'play', )
$price1-name: 'price1'
$price1-x: 191px
$price1-y: 160px
$price1-offset-x: -191px
$price1-offset-y: -160px
$price1-width: 45px
$price1-height: 35px
$price1-total-width: 358px
$price1-total-height: 318px
$price1-image: 'sprite.png'
$price1: (191px, 160px, -191px, -160px, 45px, 35px, 358px, 318px, 'sprite.png', 'price1', )
$price2-name: 'price2'
$price2-x: 238px
$price2-y: 94px
$price2-offset-x: -238px
$price2-offset-y: -94px
$price2-width: 45px
$price2-height: 46px
$price2-total-width: 358px
$price2-total-height: 318px
$price2-image: 'sprite.png'
$price2: (238px, 94px, -238px, -94px, 45px, 46px, 358px, 318px, 'sprite.png', 'price2', )
$price3-name: 'price3'
$price3-x: 293px
$price3-y: 94px
$price3-offset-x: -293px
$price3-offset-y: -94px
$price3-width: 36px
$price3-height: 46px
$price3-total-width: 358px
$price3-total-height: 318px
$price3-image: 'sprite.png'
$price3: (293px, 94px, -293px, -94px, 36px, 46px, 358px, 318px, 'sprite.png', 'price3', )
$productic1-name: 'productic1'
$productic1-x: 191px
$productic1-y: 205px
$productic1-offset-x: -191px
$productic1-offset-y: -205px
$productic1-width: 31px
$productic1-height: 24px
$productic1-total-width: 358px
$productic1-total-height: 318px
$productic1-image: 'sprite.png'
$productic1: (191px, 205px, -191px, -205px, 31px, 24px, 358px, 318px, 'sprite.png', 'productic1', )
$productic2-name: 'productic2'
$productic2-x: 283px
$productic2-y: 160px
$productic2-offset-x: -283px
$productic2-offset-y: -160px
$productic2-width: 27px
$productic2-height: 33px
$productic2-total-width: 358px
$productic2-total-height: 318px
$productic2-image: 'sprite.png'
$productic2: (283px, 160px, -283px, -160px, 27px, 33px, 358px, 318px, 'sprite.png', 'productic2', )
$productic3-name: 'productic3'
$productic3-x: 91px
$productic3-y: 292px
$productic3-offset-x: -91px
$productic3-offset-y: -292px
$productic3-width: 20px
$productic3-height: 19px
$productic3-total-width: 358px
$productic3-total-height: 318px
$productic3-image: 'sprite.png'
$productic3: (91px, 292px, -91px, -292px, 20px, 19px, 358px, 318px, 'sprite.png', 'productic3', )
$producticon-1-name: 'producticon-1'
$producticon-1-x: 272px
$producticon-1-y: 205px
$producticon-1-offset-x: -272px
$producticon-1-offset-y: -205px
$producticon-1-width: 30px
$producticon-1-height: 23px
$producticon-1-total-width: 358px
$producticon-1-total-height: 318px
$producticon-1-image: 'sprite.png'
$producticon-1: (272px, 205px, -272px, -205px, 30px, 23px, 358px, 318px, 'sprite.png', 'producticon-1', )
$producticon-2-name: 'producticon-2'
$producticon-2-x: 312px
$producticon-2-y: 205px
$producticon-2-offset-x: -312px
$producticon-2-offset-y: -205px
$producticon-2-width: 30px
$producticon-2-height: 23px
$producticon-2-total-width: 358px
$producticon-2-total-height: 318px
$producticon-2-image: 'sprite.png'
$producticon-2: (312px, 205px, -312px, -205px, 30px, 23px, 358px, 318px, 'sprite.png', 'producticon-2', )
$producticon-3-name: 'producticon-3'
$producticon-3-x: 40px
$producticon-3-y: 260px
$producticon-3-offset-x: -40px
$producticon-3-offset-y: -260px
$producticon-3-width: 30px
$producticon-3-height: 22px
$producticon-3-total-width: 358px
$producticon-3-total-height: 318px
$producticon-3-image: 'sprite.png'
$producticon-3: (40px, 260px, -40px, -260px, 30px, 22px, 358px, 318px, 'sprite.png', 'producticon-3', )
$producticon-4-name: 'producticon-4'
$producticon-4-x: 232px
$producticon-4-y: 205px
$producticon-4-offset-x: -232px
$producticon-4-offset-y: -205px
$producticon-4-width: 30px
$producticon-4-height: 23px
$producticon-4-total-width: 358px
$producticon-4-total-height: 318px
$producticon-4-image: 'sprite.png'
$producticon-4: (232px, 205px, -232px, -205px, 30px, 23px, 358px, 318px, 'sprite.png', 'producticon-4', )
$producticon-5-name: 'producticon-5'
$producticon-5-x: 120px
$producticon-5-y: 260px
$producticon-5-offset-x: -120px
$producticon-5-offset-y: -260px
$producticon-5-width: 30px
$producticon-5-height: 22px
$producticon-5-total-width: 358px
$producticon-5-total-height: 318px
$producticon-5-image: 'sprite.png'
$producticon-5: (120px, 260px, -120px, -260px, 30px, 22px, 358px, 318px, 'sprite.png', 'producticon-5', )
$producticon-6-name: 'producticon-6'
$producticon-6-x: 0px
$producticon-6-y: 260px
$producticon-6-offset-x: 0px
$producticon-6-offset-y: -260px
$producticon-6-width: 30px
$producticon-6-height: 22px
$producticon-6-total-width: 358px
$producticon-6-total-height: 318px
$producticon-6-image: 'sprite.png'
$producticon-6: (0px, 260px, 0px, -260px, 30px, 22px, 358px, 318px, 'sprite.png', 'producticon-6', )
$producticon-7-name: 'producticon-7'
$producticon-7-x: 80px
$producticon-7-y: 260px
$producticon-7-offset-x: -80px
$producticon-7-offset-y: -260px
$producticon-7-width: 30px
$producticon-7-height: 22px
$producticon-7-total-width: 358px
$producticon-7-total-height: 318px
$producticon-7-image: 'sprite.png'
$producticon-7: (80px, 260px, -80px, -260px, 30px, 22px, 358px, 318px, 'sprite.png', 'producticon-7', )
$productimg1-name: 'productimg1'
$productimg1-x: 320px
$productimg1-y: 160px
$productimg1-offset-x: -320px
$productimg1-offset-y: -160px
$productimg1-width: 31px
$productimg1-height: 24px
$productimg1-total-width: 358px
$productimg1-total-height: 318px
$productimg1-image: 'sprite.png'
$productimg1: (320px, 160px, -320px, -160px, 31px, 24px, 358px, 318px, 'sprite.png', 'productimg1', )
$productimg2-name: 'productimg2'
$productimg2-x: 246px
$productimg2-y: 160px
$productimg2-offset-x: -246px
$productimg2-offset-y: -160px
$productimg2-width: 27px
$productimg2-height: 33px
$productimg2-total-width: 358px
$productimg2-total-height: 318px
$productimg2-image: 'sprite.png'
$productimg2: (246px, 160px, -246px, -160px, 27px, 33px, 358px, 318px, 'sprite.png', 'productimg2', )
$productimg3-name: 'productimg3'
$productimg3-x: 61px
$productimg3-y: 292px
$productimg3-offset-x: -61px
$productimg3-offset-y: -292px
$productimg3-width: 20px
$productimg3-height: 19px
$productimg3-total-width: 358px
$productimg3-total-height: 318px
$productimg3-image: 'sprite.png'
$productimg3: (61px, 292px, -61px, -292px, 20px, 19px, 358px, 318px, 'sprite.png', 'productimg3', )
$question-name: 'question'
$question-x: 223px
$question-y: 260px
$question-offset-x: -223px
$question-offset-y: -260px
$question-width: 15px
$question-height: 15px
$question-total-width: 358px
$question-total-height: 318px
$question-image: 'sprite.png'
$question: (223px, 260px, -223px, -260px, 15px, 15px, 358px, 318px, 'sprite.png', 'question', )
$start-name: 'start'
$start-x: 0px
$start-y: 0px
$start-offset-x: 0px
$start-offset-y: 0px
$start-width: 228px
$start-height: 150px
$start-total-width: 358px
$start-total-height: 318px
$start-image: 'sprite.png'
$start: (0px, 0px, 0px, 0px, 228px, 150px, 358px, 318px, 'sprite.png', 'start', )
$spritesheet-width: 358px
$spritesheet-height: 318px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($apple, $calc, $check, $fail, $header1, $header2, $phone, $phonefff, $play, $price1, $price2, $price3, $productic1, $productic2, $productic3, $producticon-1, $producticon-2, $producticon-3, $producticon-4, $producticon-5, $producticon-6, $producticon-7, $productimg1, $productimg2, $productimg3, $question, $start, )
$spritesheet: (358px, 318px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
