+comment('general style')
+ic
@each $sprite in $spritesheet-sprites
  .ic--#{nth($sprite, 10)}
    &:before
      +bs($sprite) 
.ic
  vertical-align: top  
a
  outline: none
  &:hover,
  &:focus
    text-decoration: none
    outline: none      
+cm('form')
.text-danger
  color: $text-danger
  text-align: left
.form-group.error
  .form-control
    border-color: $form-control-error-border-color
[type=submit]:disabled
  animation: progress-bar-stripes 2s linear infinite
  background-image: $btn-submit-loading-bg
  background-size: 40px 40px
@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
+cm('modal')
.modal
  -webkit-overflow-scrolling: touch
  transform: translateZ(0)
.body
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: #f9f9f9
.main
  flex: 1
.heading
  color: $color-dark
  font: 700 24px/36px $font-circe
  text-transform: uppercase
  &--fff
    color: #fff
+r(760)
  .heading 
    font: 700 30px/45px $font-circe  
+r(992)
  .heading 
    font: 700 36px/48px $font-circe      
+comment("home page style")
.header
  padding: 25px 0 85px
  background: url(../img/headerbg.jpg) no-repeat
  background-size: cover
  background-position: center top
  &__image
    img
      max-width: 100%
      height: auto
  &__point
    margin-bottom: 35px
    &--icon
      height: 40px
      width: 40px
      background-color: #36539b
      border-radius: 50%
      line-height: 36px
      text-align: center
    &--text
      color: $color-dark
      font: 300 18px/21px $font-circe 
  &__text
    text-align: center
    color: $color-dark
    font: 400 18px/27px $font-circe 
    &--link
      color: $color-dark
      font: 700 18px/27px $font-circe 
      &:hover,
      &:focus
        text-decoration: none   
        color: $color-green
.logo
  margin-bottom: 20px
  &__link
    display: inline-block
  &__text  
    color: $color-dark
    font: 300 14px/21px $font-circe
    text-align: center
.contact
  text-align: center
  &__box
    margin-bottom: 10px
  &__phone
    display: inline-block
    .ic
      margin-right: 10px
      line-height: 30px
  &__number
    display: inline-block   
    color: $color-dark
    font: 300 29px/30px $font-circe
  &__btn
    border: 2px solid $color-green
    border-radius: 5px  
    background-color: transparent
    cursor: pointer
    font: 400 16px/18px $font-circe
    color: $color-dark
    padding: 8px 15px
    transition: all .3s ease
    &:hover,
    &:focus
      color: #fff
      background-color: $color-green
.title
  color: $color-dark
  font: 700 30px/45px $font-circe
  text-transform: uppercase
  margin: 25px 0 20px       
  text-align: center
+r(760)
  .header
    min-height: 100vh
    &__image
      position: relative
      img
        position: absolute
        top: -55px
        right: 0
        max-width: none
    &__point
      margin-bottom: 20px
      &--icon
        height: 56px
        width: 56px
        line-height: 52px
    &__info
      padding-top: 40px    
    &__text
      text-align: left    
  .logo
    margin-bottom: 0
    &__text
      text-align: left
  .contact
    text-align: right   
  .title
    font: 700 36px/45px $font-circe
    margin: 65px 0 50px
+r(992)
  .header
    &__point
      margin-bottom: 0
      &--text
        position: relative
        left: -15px
    &__info
      padding-top: 45px    
    &__text    
      font: 400 20px/30px $font-circe 
      &--link
        font: 700 20px/30px $font-circe 
  .title
    font: 700 45px/55px $font-circe 
+comment("implement style")
.implement
  overflow: hidden
  margin-bottom: 80px
  &__container
    padding-top: 50px
    padding-bottom: 40px
    position: relative
    box-shadow: 10px 17.3px 50px rgba(0, 0, 0, 0.1)
    background: url(../img/implementbg.png) no-repeat
    background-size: cover
    background-position: center top
    &:before
      content: ''
      display: block
      position: absolute
      height: 100%
      width: 100%
      top: 0
      left: 0
      box-shadow: inset 0px 0px 0px 15px rgba(58, 150, 214, 1)
  &__heading
    color: $color-dark
    font: 400 22px/33px $font-circe    
    margin-bottom: 15px
    &--big
      display: block
      font: 700 22px/33px $font-circe 
      text-transform: uppercase
  &__item
    position: relative
    overflow: hidden
    cursor: pointer
    &:hover,
    &:focus
      .implement__hover
        bottom: 0
  &__hover
    position: absolute
    left: 0
    bottom: 100%
    width: 100%
    height: 100%
    background-color: rgba(54, 83, 155, 0.9)
    text-align: center     
    transition: all .3s ease 
  &__image
    img
      margin: 0 auto 
  &__text
    margin: 0 auto
    font: 400 14px/16px $font-circe
    color: #fff
+r(760)      
  .implement
    &__container
      &:before
        box-shadow: inset 0px 0px 0px 15px rgba(58, 150, 214, 1)
    &__heading    
      font: 400 24px/36px $font-circe
      margin-bottom: 25px
      &--big
        font: 700 24px/36px $font-circe 
+r(992)
  .implement
    &__icon
      position: relative
      img
        position: absolute
        top: -20px
        left: -90px
        transform: scale(0.7)      
+r(1200)
  .implement
    &__icon
      img
        left: 0
        transform: scale(0.8)        
+r(1600)
  .implement
    &__icon
      img
        transform: scale(1) 
+comment("intro style")                
.intro
  padding: 60px 0 200px
  background: url(../img/introbg.png) no-repeat
  background-size: cover
  background-position: center top
  &__heading
    margin-bottom: 140px
  &__btn
    height: 88px
    width: 88px 
    background-color: #FFF
    border-radius: 50%
    text-align: center
    .ic
      margin-left: 7px
      margin-top: -3px
+r(760)
  .intro
    padding: 150px 0 240px    
    &__heading
      margin-bottom: 150px  
+comment("price style") 
.price
  padding: 80px 0
  overflow: hidden
  &__heading
    margin-bottom: 20px
  &__image
    text-align: center
    margin-bottom: 20px
    img
      display: inline-block
      max-width: 100%  
  &__item
    margin-bottom: 30px    
  &__text
    font: 400 16px/24px $font-circe 
    color: $color-dark
  &__icon
    text-align: center  
+r(760)
  .price
    margin-bottom: 90px
    &__box
      padding-top: 55px
    &__image
      position: relative
      img
        max-width: none
        position: absolute
        left: 0
        top: 0  
    &__item
      margin-bottom: 45px  
    &__text
      font: 400 18px/27px $font-circe     
+comment("product style") 
.product
  margin-bottom: 90px
  overflow: hidden
  &__heading
    margin-bottom: 50px
  &__item
    position: relative
    padding: 70px 15px 35px
    margin: 0 -15px
    background-color: #fff
    box-shadow: inset 0 0 1px 0 #f1f1f1
    overflow: hidden
  &__garant
    display: block
    position: absolute
    left: -104px
    top: -90px
    height: 200px
    width: 228px
    color: #fff
    background-color: #36539b
    transform: rotate(-45deg) 
    text-align: center 
    padding-bottom: 20px
  &__text
    font: 400 14px/21px $font-circe  
  &__image
    text-align: center
    img
      display: inline-block    
  &__box
    text-align: center    
  &__cost
    color: #36539b    
    font: 700 18px/20px $font-circe 
    margin: 30px 0 10px
    text-align: center
  &__name
    display: inline-block
    position: relative
    color: $color-dark
    font: 700 24px/30px $font-circe 
    margin-bottom: 20px
    text-align: center
    &:before
      content: ''
      display: block
      position: absolute
      left: 50%
      margin-left: -50px
      bottom: -5px
      height: 1px
      width: 100px
      background-color: #f1f1f1
  &__weight    
    color: $color-dark
    font: 300 18px/20px $font-circe 
    margin-bottom: 20px
  &__btn
    color: #fff
    font: 700 21px/22px $font-circe 
    text-align: center
    background-color: #00c170
    border-radius: 5px
    padding: 12px
    width: 100%
    border: 0
    box-shadow: 0px 3px 0px #25A05A
    &:hover,
    &:focus
      outline: none
      background-color: #00d77d
    &:active  
      box-shadow: 0px 1px 0px #25A05A
      position: relative
      top: 2px
      outline: none
+r(760)
  .product  
    padding-bottom: 50px
    overflow: visible
    &__item
      position: relative
      margin: 0
      padding-bottom: 80px
      transition: all .3s ease
      z-index: 15
      &:hover,
      &:focus
        box-shadow: inset 0px 0px 0px 2px rgba(54,83,155,1)
        padding: 120px 15px 130px
        margin-top: -50px
        margin-bottom: -50px
        position: relative
        z-index: 20
        transition: all .3s ease
    &__cost
      margin-top: 0    
+r(992)
  .product
    &__cost
      margin-top: 20px        
