extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_header.pug
block content
  include partials/_implement.pug
  include partials/_intro.pug
  include partials/_price.pug
  include partials/_product.pug
  include partials/_cost.pug
  include partials/_fail.pug
  include partials/_delivery.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
